* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    width: 100vw;
    min-height: 95vh;
    overflow-x: hidden;
    background: linear-gradient(45deg, #d9f13a, #79d0eb);
}

.OuterDivStyle {
    max-width: 540px;
    margin: 39px auto;
    padding: 20px 12px;
    border: 1px solid #978f8f;
    border-radius: 5px;
    background-color: #f9f9f930;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 10px 10px;
}

/* 
#Login-container{
    display: none;
} */

#Login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#Post-container {
    display: none;
}

#Post-container input[type="text"],
#Post-container input[type="file"] {
    outline: none;
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#Post-container input[type="submit"] {
    background-color: #007BFF;
}

#post-feed {
    margin-top: 20px;
    overflow-y: auto;
}

.post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.post .username {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 34px;
}

.post img {
    max-width: 100%;
    border-radius: 4px;
    border: 2px solid;
}

.post span {
    font-size: 13.5px;
    display: block;
}

.post .timestamp {
    color: #615d5d;
}

.post .text {
    font-size: 18px;
    line-height: 26px;
}

.post .actions {
    margin: 2px 0 10px;
}

.post .actions button {
    font-size: 15px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid;
    margin-right: 10px;
    cursor: pointer;
}

.comment-box {
    display: grid;
    align-items: center;
    grid-template-columns: 9fr 3fr;
    gap: 5px;
}

.comment-box input,
.comment-box button {
    font-size: 15px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #282828;
    border: .5px solid;
}

.comment-box button {
    background-color: #5fd6d2;
}

.comment-box button:hover {
    background-color: rgb(98, 170, 193);
}
.comments{
    margin: 10px 0;
}
.comments span {
    display: block;
    font-size: 17px;
}